# Configuração do projeto Sicredi Case
PROJECT_ROOT=.
DATA_DIR=./raw_data
PROCESSED_DIR=./processed
OUTPUT_DIR=./output

# CRS
CRS_DISPLAY=EPSG:4326
CRS_AREA=EPSG:5880

# Backend (opcional)
API_HOST=127.0.0.1
API_PORT=8000

# PostGIS (opcional, para escala corporativa)
# DATABASE_URL=postgresql://user:pass@localhost:5432/sicredi_sac
